.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 120px;
}

.App-header {
  background-color: rgb(70, 82, 250);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  font-weight: 100;
}

.Thin {
  font-weight: 100;
}
.Light {
  font-weight: 200;
}
.Normal {
  font-weight: 400;
}
.Black {
  font-weight: 800;
}

.nav-image {
  height: 80px;
  width: auto;
}

.navbar-end a {
  margin-top: 25px;
  margin-right: 10px;
}

.navbar-item h1 {
  font-size: 25px;
}

.nav-title {
  margin-left: -25px;
}
